img {
  height: 200px; }

body {
  background-image: url("../images/homeBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.container {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center; }
  .container a {
    color: black; }

.siteTitle {
  text-align: right;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: lighter;
  font-size: 24px; }

.enterNav {
  text-align: center; }
  .enterNav ul li {
    display: inline-block; }
    .enterNav ul li a {
      font-family: 'Source Sans Pro', sans-serif;
      text-decoration: none;
      color: white;
      font-size: 48px; }
