$font-stack: 'Source Sans Pro', sans-serif;
//General Styles

img{
  height: 200px;
}

body{
  background-image: url("../images/homeBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  a{
    color: black;
  }
}

//main.html//
.siteTitle{
  text-align: right;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: lighter;
  font-size: 24px;
}
.enterNav{
  text-align: center;
  ul{
  li{
    display: inline-block;
    a{
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 48px;

  }
  }
}
}
